#import_example_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
}

#commands_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
}

#example_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 470px;
}

#list_queue_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}