#example_len_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#example_count_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#example_access_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#example_access_-1_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#example_cut_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#example_in_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#example_find_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#example_replace_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#example_upper_lower_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#example_start_end_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#example_isdigit_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#example_isalpha_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#example_for_string_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 300px;
}

#example_join_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#example_split_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#example_list_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

#Summary_img{
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}