*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: linear-gradient(rgb(123,227,24),rgb(0,46,119)); 
    top: 0px;
    width: 100%;
    border-bottom: 6px solid;
    border-color: rgb(123,227,24);
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 80%;
    }
}

#Icon_Img_nav{
    height: 80px;
    width: 80px;
    margin-left: 60px;
}

li{
    display: inline-block;
    margin-left: 50px;
    list-style-type: none;
    color: rgb(7,11,40);
    -webkit-text-fill-color:rgb(7,11,40);
    -webkit-text-stroke-width: 2px;
}

li:hover{
    color: rgb(123,227,24);
    -webkit-text-fill-color:rgb(123,227,24);
    transition: 0.7s;
}

ul{
    margin-right: 80px;
}

a{
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: black;
}

body{
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1920px;
    background-blend-mode:soft-light;
    background-color: rgba(255, 255, 255, 0.1);
    width: 1904px;
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(7,11,40);
}
 
body::-webkit-scrollbar-thumb {
    background-color: rgb(123,227,24);
    outline: 1px solid slategrey;
}

h1{
    -webkit-text-fill-color:rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    margin-top: 120px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    text-decoration: underline rgb(123,227,24);
}

h2{
    -webkit-text-fill-color:rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    margin-top: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center; 
}

h3{
    -webkit-text-fill-color:rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    margin-top: 120px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    text-decoration: underline rgb(123,227,24);
}

#presentations{
    -webkit-text-fill-color:rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    margin-top: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

#presentations:hover{
    -webkit-text-fill-color: rgb(123,227,24);
    transition: 0.7s;
}

#command{
    font-weight: bold;
    -webkit-text-fill-color: rgb(123,227,24);
    -webkit-text-stroke-width: 2px;
}

#emphasis{
    border-style: ridge;
    border-color: rgb(123,227,24);
    border-width: 9px;
}

audio{
    margin: 0 auto;
    display: block;
}

audio::-webkit-media-controls-play-button,audio::-webkit-media-controls-panel {
    background-color: rgb(123,227,24);
}

iframe{
    border-style: ridge;
    border-color: rgb(123,227,24);
    border-width: 9px;
    margin: 0 auto;
    width: 1886px;
    height: 800px;
    display: block;
}
